<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>::: Admin Productos Natura Mexico ::: bien estar bien :::</title>
<link rel="stylesheet" type="text/css" href="<?= $cfg['url_css'] ?>estilos.css" />
</head>

<body>
<table width="80%" border="0" align="center">
  <tr>
    <td colspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td width="6%" align="center" valign="bottom"><img src="<?= $cfg['url_images'] ?>logo.png" /></td>
    <td width="12%" align="center" valign="bottom"><a href="index.php?cmd=lineas">Lineas</a></td>
    <td width="14%" align="center" valign="bottom"><a href="index.php?cmd=sublineas">Sublineas</a></td>
    <td width="15%" align="center" valign="bottom"><a href="index.php?cmd=productos">Productos</a></td>
    <td width="13%" align="center" valign="bottom"><a href="index.php?cmd=ciclos">Ciclos</a></td>
	<td width="15%" align="center" valign="bottom"><a href="index.php?cmd=catalogo">Catalogo</a></td>
    <td width="15%" align="center" valign="bottom"><a href="index.php?cmd=promociones">Promociones</a></td>
	<td width="10%" align="center" valign="bottom"><a href="index.php?cmd=log_off">Salir</a></td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="8">&nbsp;</td>
  </tr>
</table>
</body>
</html>
