<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
</head>

<body>
<form name="forma" action="index.php?cmd=usuario" enctype="multipart/form-data" method="post">
<table width="50%" border="0" align="center" cellpadding="2" cellspacing="4" bordercolor="#CCCCCC">
  <tr>
    <td width="100%" align="center" valign="top"><?= $va['usu'] ?></td>
  </tr>
  <tr>
    <td align="center" class="texto2">Contrase&ntilde;a: 
        <input name="pwd" type="text" class="texto2" id="pwd" size="35" />
        &nbsp;&nbsp;&nbsp;
        <input type="submit" name="Submit" value="Enviar" class="boton" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
</body>
</html>
