<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>::: Admin Productos Natura Mexico ::: bien estar bien ::: Catalogo</title>
<link rel="stylesheet" type="text/css" href="<?= $cfg['url_css'] ?>estilos.css" />
</head>

<body>
<table width="60%" border="0" align="center" cellpadding="2" cellspacing="4" bordercolor="#CCCCCC">
  <tr bgcolor="#FECC8A">
    <td width="76%" bgcolor="#FECC8A" class="titulo">Catalogo</td>
    <td width="24%" align="center"><a href="index.php?cmd=catalogo&action=agregar">Agregar</a></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="top"><table width="99%" border="0" cellpadding="4" cellspacing="4">
      <tr bgcolor="#FE4617" class="texto3">
        <td width="13%" align="center" bgcolor="#FE4617">Ciclo</td>
        <td width="22%" align="center">Producto</td>
        <td width="11%" align="center">Precio</td>
        <td width="13%" align="center">Precio_refill</td>
        <td width="21%" align="center">Promocion </td>
        <td width="11%" align="center">Estatus</td>
        <td width="9%">&nbsp;</td>
      </tr>
	  <? for($i=0; $i<$lista; $i++){
	  		$datos = mysql_fetch_array($res); 
			if($i%2 == 0) $colorFila = 'bgcolor="#FFE7C8"'; else $colorFila = '';
			
			$qryC = "SELECT Nombre FROM Ciclos WHERE ID_ciclos = '$datos[1]'";
			//print"$qryC";
			$resC = mysql_query($qryC);
			$datoC = mysql_fetch_array($resC);
			
			$qryP = "SELECT Nombre FROM Productos WHERE ID_productos = '$datos[2]'";
			//print"$qryP";
			$resP = mysql_query($qryP);
			$datoP = mysql_fetch_array($resP);		
	 ?>
      <tr class="texto2" <?=$colorFila?>>
        <td align="center"><?=$datoC[0]?></td>
        <td align="center"><?=$datoP[0]?></td>
        <td align="center"><?=$datos[3]?></td>
        <td align="center"><?=$datos[4]?></td>
        <td align="center"><?=$datos[5]?></td>
        <td align="center"><?=$datos[8]?></td>
        <td align="center"><a href="index.php?cmd=catalogo&amp;action=editar&id=<?=$datos[0]?>">Editar</a></td>
      </tr>
	  <? } ?>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" style=" border-top:1px #999999 solid;">
	<? if($total_registros) {
		echo "<center>";
		if(($pagina - 1) > 0) { 
			echo "<a href='?cmd=catalogo&pagina=".($pagina-1)."'>< Anterior</a> ";
		}
		for ($j=1; $j<=$total_paginas; $j++){ 
			if ($pagina == $j){ 
				echo "<span class=\"texto\">".$pagina."</span> "; 
			}else{ 
				echo "<a href='?cmd=catalogo&pagina=$j'>$j</a> "; 
			}
		}
		if(($pagina + 1)<=$total_paginas){ 
			echo "<a href='?cmd=catalogo&pagina=".($pagina+1)."'>Siguiente ></a>";
		}
		echo "</center>";
   } ?>
	</td>
  </tr>
</table>
</body>
</html>
