<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
</head>

<body>
<table width="50%" border="0" align="center" cellpadding="2" cellspacing="4">
  <tr bgcolor="#FECC8A">
    <td width="76%" class="titulo">Sublineas</td>
    <td width="24%" align="center"><a href="index.php?cmd=sublineas&action=agregar">Agregar</a></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="top"><table width="98%" border="0" cellpadding="4" cellspacing="4">
      <tr bgcolor="#FE4617" class="texto3">
        <td width="35%" align="center">Nombre Sublinea </td>
        <td width="35%" align="center">Nombre Linea </td>
        <td width="38%" align="center">Estatus</td>
        <td width="27%">&nbsp;</td>
      </tr>
	  <?= $va['sublineas'] ?>
    </table></td>
  </tr>
  <tr>
    <td colspan="2" style=" border-top:1px #999999 solid;">
		<? if($total_registros) {
			echo "<center>";
			if(($pagina - 1) > 0) { 
				echo "<a href='?cmd=sublineas&pagina=".($pagina-1)."'>< Anterior</a> ";
			}
			for ($j=1; $j<=$total_paginas; $j++){ 
				if ($pagina == $j){ 
					echo "<span class=\"texto\">".$pagina."</span> "; 
				}else{ 
					echo "<a href='?cmd=sublineas&pagina=$j'>$j</a> "; 
				}
			}
			if(($pagina + 1)<=$total_paginas){ 
				echo "<a href='?cmd=sublineas&pagina=".($pagina+1)."'>Siguiente ></a>";
			}
			echo "</center>";
	   } ?>
	</td>
  </tr>
</table>
</body>
</html>
